<nav>
  <a href="/watchlist"><i class="fa-solid fa-house"></i></a>
  <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="/profile"><i class="fa-solid fa-user"></i></a>
</nav>
