<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watcher | Register</title>
    <link rel="stylesheet" href="../static/stylesheets/register.css" />
  </head>

  <body>
    <div class="container">
      <div class="content-wrapper">
        <div class="form">
          <form action="/register" method="post">
            <div class="form-group">
              <label for="username">username</label>
              <input type="text" name="username" id="username" />
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input type="password" name="password" id="password" />
            </div>
            <div class="form-group">
              <label for="confirm">confirm password</label>
              <input type="password" name="confirm" id="confirm" />
            </div>
            <div class="form-group">
              <button type="submit">register</button>
            </div>
            <a href="/login">login</a>
            <% if (err) { %>
            <p><%= err %></p>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
