* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #d9534f;
  color: #292b2c;
  font-size: 16px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  text-transform: capitalize;
}

.container .form {
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  border-radius: 0.75rem;
  background-color: #f7f7f7;
}

.form input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 8px 0;
  border: 2px solid #292b2c;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}

form {
  font-size: 16px;
}

.form button {
  background-color: #d9534f;
  border: none;
  color: #f7f7f7;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 4px;
  text-transform: capitalize;
  font-size: 1rem;
}

.form a {
  text-decoration: none;
  font-size: 1rem;
  margin: 8px 0 0 4px;
  color: #0275d8;
}